/* 1270 */

@media (max-width: 1270px) {
    #overview {
        margin-top: 200px;
    }

    .card {
        margin-left: 50px;
        margin-right: 50px;
    }
    
}

@media (max-width: 875px) {
    .card {
        margin-left: 5px;
        margin-right: 5px;
    }
    
}

@media (max-width: 649px) {
    #header {
        padding-bottom: 100px;
    }

    #overview {
        margin-top: 700px;
    }

    #overview h2 {
        text-align: center;
    }

    hr {
        display: block;
    }

    #container-toggle {
        position: static;
        justify-content: space-between;
    }
}